# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Go\go_data_struct\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
